<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">mI_shop</h1>
    <p>Build your own online store. control your own market!!!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Shop Now!</h2>
      <p>Go to the items available at the shop right now!. </p>
      <p><a class="btn btn-secondary" href="/products/index" role="button">Store &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Go to your Basket!</h2>
      <p>Done Buying? Go to your Shopping Cart and Checkout! </p>
      <p><a class="btn btn-secondary" href="/basket" role="button">Basket &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Want a Store like this one?</h2>
      <p>If you have a Retail Store and you still do not have an online store then you are missing out a lot!.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Contact Us! &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->