<form action = "/new_item" method="POST">
	<div class="form-group">
	Item name <input type="text" name="name">
	 </div>
	<div class="form-group">
	 Description <input type="text" name="description">
	  </div>
	 <div class="form-group">
	 Quantity of Items <input type="Integer" name="quantity">
	  </div>
	 <div class="form-group">
	  Price for indivial Item <input type="Integer" name="price">
	   </div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

